html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    padding-top: 50px;
    background-color: #ebebeb;
}

#barra-superior {
    border-bottom: 1px solid #696969;
    background-image: linear-gradient(to top, #ffffff, #9f9f9f);
}

.titulo-sistema {
    float: left;
    display: inline-block;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #696969;
}

.principal {
    background-color: #ebebeb;
    padding-top: 20px;
    text-align: center;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}