h2 {
    font-weight: bold;
    color: #696969;
}

h3, h4, h5, h6 {    
    color: #696969;
    text-align: center;
}

.table {
    width: auto;
}

.table tbody tr td {
    border: 1px solid #000000;
    background-color: #ffffff;
    font-size: 14px;
    vertical-align: central;
}

.label-titulo-tabela td {
    color: #ffffff;
    background-color: #696969 !important;
    text-align: center;    
}

.label-titulo-tabela {
    color: #ffffff !important;
    background-color: #696969 !important;
    text-align: center;
}

.botao-cadastrar {
    text-align: left;
    padding-bottom: 20px; 
}

.table-formulario {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
}

.table-formulario tbody tr td {
    font-size: 14px;
}

.campo-areatexto {
    min-width: 400px;
    max-width: 400px;
}

.label-formulario-box {
    color: #696969;
    text-align: right;
    padding: 10px;
}

.form-control {
    width: auto;
}

.campo-texto {
    width: 400px;
}

.botao-formulario {
    margin-top: 20px;
}

.label-titulo-tabela td {
    font-weight: bold;
}

.label-linha-tabela td {
    color: #696969;
}

.prioridade {
    text-align: center;
}

.button-tabela {
    text-align: center;
}

.button-icon {    
    font-size: 20px;
}

.coluna-button {    
    width: 10px;
}


/*************** Thickbox *******************/

#TB_window {
    width: auto !important;
    height: auto !important;
}

#TB_title {
    text-align: center !important;
}
#TB_ajaxContent {
    height: auto !important;
    width: auto !important;
    background-color: #ffffff !important;
}
#TB_ajaxWindowTitle {
    float: none !important;
    font-size: 16px;
    font-weight: bolder;
}

#TB_closeAjaxWindow {
    /*display: none;*/
}